a.gflag {font-size:32px;padding:1px 0;background-repeat:no-repeat;background-image:url(32.png);}
a.gflag img {border:0;height:32px;display:inline;}
a.gflag:hover {background-image:url(32a.png);}
img.gstats {display:none;}